
/*-=-=-=-=-=-=-=-=-=-=-
        google fonts
    -=-=-=-=-=-=-=-=-=-=-=-=-*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Oswald:wght@700&family=Roboto+Condensed&display=swap'); 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100%;
    display: block;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}


/*--=-=-=-=-=-=-==-=-=-=-=-=
           menu area
    -=-=-=-=---=-=-=-=-=-=-=-=-=*/

.add-header{
    width: 100%;
    background-color: rgba(9, 80, 24, 0.832);
    position: absolute;
    z-index: 999;
}
.header-add-class{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .9s;
}

.header-menu ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 0.5s;
}
.header-logo h3{
    color: wheat;
    margin-top: 0px;
    padding-left: 30px;
    font-size: 55px;
    font-family: 'Zilla Slab', serif;
    font-weight: 100;
    cursor: pointer;
}


.header-menu ul li a{
    color: wheat;
    padding: 0 10px;
    margin-top: 20px;
    margin-left: 10px;
    display: block;
    font-size: 23px;
    letter-spacing: 1px;
    text-transform:capitalize;
    font-family: 'Zilla Slab', serif;
    transition: .3s;
}
.header-menu ul li:hover a{
    color: rgb(255, 255, 255);
}
.header-menu-bar i{
    color: wheat;
    font-size: 40px;
    margin-top: 18px;
    display: none;
    cursor: pointer;
}
.menu-var-hide {
    display: none;
}

/*--=-=-=-=-=-=-==-=-=-=-=-=
          Bennar Area
    -=-=-=-=---=-=-=-=-=-=-=-=-=*/
.bennar-area{
    background-image: url(../rose/30.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    animation: slider 10s linear infinite;
}
@keyframes slider{
    0%{
        background-image: url(../rose/30.jpg);
    }
    20%{
        background-image: url(../rose/30.jpg);
    }
    25%{
        background-image: url(../rose/29.jpg);
    }
    45%{
        background-image: url(../rose/29.jpg);
    }
    50%{
        background-image: url(../rose/32.jpg);
    }
    70%{
        background-image: url(../rose/32.jpg);
    }
    75%{
        background-image: url(../rose/33.jpg);
    }
    100%{
        background-image: url(../rose/33.jpg);
    }
}
.bennar-text{
   color: wheat;
   padding-top: 200px;
   padding-left: 200px; 
}
.bennar-text h2{
    font-size: 80px;
    text-transform: capitalize;
    font-weight: 600;
}
.bennar-text p{
    font-size: 25px;
    text-transform: capitalize;
    font-family: serif;
    margin: 10px 0;
}
.bennar-text button{
    background: transparent;
    color: wheat;
    font-family: 'Zilla Slab', serif;
    margin-top: 20px;
    padding: 10px 30px;
    border-radius:15px;
    border: 3px solid wheat;
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.4s;
}
.bennar-text button:hover{
    background-color: rgba(9, 80, 24, 0.832);
    color: rgb(255, 255, 255)       ;
}

/*--=-=-=-=-=-=-==-=-=-=-=-=
          Service Area
    -=-=-=-=---=-=-=-=-=-=-=-=-=*/

.service-area{
    padding: 100px 0;
}
.service-img {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}
.service-img img{
    transition: transform 0.3s;
    cursor: pointer;
}
.service-img:hover img{
    transform: scale(1.1);
}
.service-img-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-weight: 600;
    overflow: hidden;
}
.service-img-text span{
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    font-size: 22px;
}
.service-img-text p{
    font-size: 18px;
}

/*--=-=-=-=-=-=-==-=-=-=-=-=
          item Area
    -=-=-=-=---=-=-=-=-=-=-=-=-=*/
.service-iteme{
    padding-bottom: 50px;
    position: relative;
}
.service-item h2{
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 40px;
    padding-bottom: 40px;
}
.item-contant{
    position: relative;
   
}
.item-header h2{
    position: absolute;
    top: 2%;
    background-color: rgb(255, 214, 201);
    padding: 0 15px;
    text-transform: uppercase;
}
.item-contant img{
    width: 100%;
    height: 510px;
}
.item-contant button{
    width: 100%;
    border: none;
    color: rgb(30, 24, 24);
    padding: 10px 0;
    font-size: 20px;
    background-color: rgba(250, 198, 198, 0.444);
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
}
.item-contant:hover button{
    background-color: rgb(67, 18, 18);
    color: rgb(255, 255, 255);
}
.item-contant p{
    text-align: center;
    padding-top: 10px;
}

/*--=-=-=-=-=-=-==-=-=-=-=-=
          section-2
    -=-=-=-=---=-=-=-=-=-=-=-=-=*/
.section-2{
    padding: 50px 0;
}
.section-2-img{
    position: relative;
     overflow: hidden;
    box-sizing: border-box;
}
.section-2-img img{
    width: 100%;
    height: 300px; 
    transition: transform 0.3s;
    cursor: pointer;
   
}
.section-2-img:hover img{
    transform: scale(1.1);
}
.section-contant{
    position: absolute;
    top: 20%;
    left: 10%;
}
.section-contant h2{
    font-size: 20px;
}
.section-contant h2 span{
    text-transform: capitalize;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
}
.section-contant p{
    color: rgb(255, 110, 88);
    text-transform: capitalize;
}
.section-contant p span{
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 600;
}

/*--=-=-=-=-=-=-==-=-=-=-=-=
          section-3
    -=-=-=-=---=-=-=-=-=-=-=-=-=*/
.section-3-header h2{
    text-transform: lowercase;
    padding-top: 70px;
    font-weight: 600;
    font-size: 50px;
}
.item-header3 h2{
    position: absolute;
    top: 2%;
    background-color: rgb(176, 34, 34);
    color: white;
    padding: 0 10px;
}

/*--=-=-=-=-=-=-==-=-=-=-=-=
          section-4
    -=-=-=-=---=-=-=-=-=-=-=-=-=*/

.section-header h2{
    text-transform: capitalize;
    font-size: 40px;
    padding-bottom: 10px;
}
.service-4-text p{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding-top: 15px;
}
.service-img img{
    width: 100%;
    height: 250px;
}

/*--=-=-=-=-=-=-==-=-=-=-=-=
          footer area
    -=-=-=-=---=-=-=-=-=-=-=-=-=*/

.footer-area{
    background-color: black;
    color: rgb(255, 255, 255);
   padding-top: 40px;
   padding-bottom: 5px;
}
.footer-contant-text{
    width: 90%;
    margin: 0 auto;
}
.footer-item h4{
    font-size: 18px;
    padding-left: 28px;
}
.footer-item ul li a{
    color: rgba(255, 255, 255, 0.716);
    cursor: pointer;
}
.footer-item-icon h4{
    font-size: 25px;
    color: rgb(255, 255, 255);
}
.footer-item-icon p{
    color: rgba(255, 255, 255, 0.737);
}
.footer-item-icon ul li{
    display: inline;
    font-size: 40px;
}
.footer-item-icon ul li a i{
   color: rgb(254, 121, 176);
}
.footer-copy-right p{
    text-align: center;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.659);
}